@media screen and (max-width:319.98px){
    .top_part_left p {
        text-align: center;
        margin-bottom: 1rem;
    }
    .top_part_right p {
        text-align: center;
    }
    .carousel-inner img {
        height: 80vh;
    }
    .infocus_part_text p {
        text-align: justify;
    }
    .service_part_middle a {
        margin-bottom: 2rem;
        display: block;
    }
}

@media (min-width:320px) and (max-width: 479.98px) {
    .top_part_left p {
        text-align: center;
        margin-bottom: 1rem;
    }
    .top_part_right p {
        text-align: center;
    }
    .carousel-inner img {
        height: 80vh;
    }
    .infocus_part_text p {
        text-align: justify;
    }
    .service_part_middle a {
        margin-bottom: 2rem;
        display: block;
    }
}

@media (min-width:480px) and (max-width: 575.98px) {
    .top_part_left p {
        text-align: center;
        margin-bottom: 1rem;
    }
    .top_part_right p {
        text-align: center;
        font-size: 1.2rem;
    }
    .carousel-inner img {
        height: 80vh;
    }
    .infocus_part_text p {
        text-align: justify;
    }
    .service_part_middle a {
        margin-bottom: 2rem;
        display: block;
    }
}


@media (min-width:576px) and (max-width: 767.98px) {
    .top_part_left p {
        text-align: center;
        margin-bottom: 1rem;
    }
    .top_part_right p {
        text-align: center;
        font-size: 1.2rem;
    }
    .carousel-inner img {
        height: 80vh;
    }
    .infocus_part_text p {
        text-align: justify;
    }
    .service_part_middle a {
        margin-bottom: 2rem;
        display: block;
    }
}




/* Medium devices (tablests, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .top_part_left p {
        text-align: center;
        margin-bottom: 1rem;
    }
    .top_part_right p {
        text-align: center;
        font-size: 1.2rem;
    }
    .carousel-inner img {
        height: 80vh;
    }
    .infocus_part_text p {
        text-align: justify;
    }
    .service_part_middle a {
        margin-bottom: 2rem;
        display: block;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width:992px) and (max-width: 1199.98px) {...}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {...}